$titleColor: purple;

h1 {
    color: $titleColor;
}
h2 {
    color: $titleColor;
}
h3 {
    color: $titleColor;
}
h4 {
    color: $titleColor;
}
h5 {
    color: $titleColor;
}
h6 {
    color: $titleColor;
}