.rodape {
    background-color: $corSecundaria;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: $marginPadrao;
    .copy {
        font-size: $fontRegular;
        @extend %textCenter;
        color: $white;
    }
}