//Variables
$colorMain: purple;

//Extends e placeholders
/*
    Extend ele cria uma classe para 
    ser reaproveitada, ou seja essa classe compilará junto no seu css
*/
.text {
    text-align: center;
    color: $colorMain;
}
/*
    Placeholder são regras guardadas com se fossem variaveis para se aproveitar, 
    não são compiladas na finalização do css
*/
%centralizando {
    margin-right: auto;
    margin-left: auto;
}
%uppercase {
    text-transform: uppercase;
}

.container {
    width: 80%;
    @extend %centralizando;

    h1 {
        @extend %uppercase;
        //reaproveito tudo que está escrito na class text
        @extend .text;
    }
    .conteudo-do-artigo {
        //reaproveito tudo que está escrito na class text
        @extend .text;
    }

    .link {
        color: $colorMain;
        @extend %uppercase;
    }

}

