//Colors
$corPrincipal: #241f83;
$corSecundaria: #534adc;
$corLight: #a4d5ea;
$white: #fff;
$black: #000;

//Fonts
$fontGrande: 2rem;
$fontMedia: 1.5rem;
$fontRegular: 1rem;

//Margin
$marginPadrao: 2rem;